<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>admissionYear</key>
		<integer>13</integer>
		<key>englishLecture</key>
		<integer>4</integer>
		<key>englishLectureDetail</key>
		<string>영어강의 상세설명</string>
		<key>englishScore</key>
		<integer>700</integer>
		<key>englishScoreDetail</key>
		<string>영어성적상세설명</string>
		<key>serviceTime</key>
		<integer>1</integer>
		<key>allCredit</key>
		<integer>140</integer>
		<key>majorCredit</key>
		<integer>84</integer>
		<key>majorCreditDetail</key>
		<string>전공 상세설명</string>
		<key>majorSpecialty</key>
		<integer>42</integer>
		<key>generalCommon</key>
		<string>14</string>
		<key>generalCommonDetail</key>
		<string>공통교양 상세설명</string>
		<key>generalBasic</key>
		<string>28</string>
		<key>generalBasicDetail</key>
		<string>학문기초 상세설명</string>
		<key>generalLiteracy</key>
		<string>9</string>
		<key>generalLiteracyDetail</key>
		<string>기본소양 상세설명</string>
		<key>generalMajorBasic</key>
		<string>1</string>
		<key>generalMajorBasicDetail</key>
		<string>전공기초 상세설명</string>
		<key>generalMain</key>
		<string>1</string>
		<key>generalMainDetail</key>
		<string>핵심교양 상세설명</string>
		<key>graduationPaper</key>
		<string>종합설계1, 2 이수</string>
		<key>etc</key>
		<string>산학협력프로젝트</string>
		<key>etcDetail</key>
		<string>기타사항 상세설명</string>
	</dict>
</array>
</plist>
