<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>college</key>
		<string>공과대학</string>
		<key>name</key>
		<string>컴퓨터공학전공</string>
		<key>englishName</key>
		<string>CSE</string>
	</dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>전자전기공학부</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>건설환경공학과</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>건축공학전공</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>건축학전공</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>기계로봇에너지공학과</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>멀티미디어공학과</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>산업시스템공학과</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>융합에너지신소재공학과</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>정보통신공학전공</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>공과대학</string>
        <key>name</key>
        <string>화공생물공학과</string>
        <key>englishName</key>
        <string>CSE</string>
    </dict>
    <dict>
        <key>college</key>
        <string>경영대학</string>
        <key>name</key>
        <string>경영정보학과</string>
        <key>englishName</key>
        <string>MIS</string>
    </dict>
    <dict>
        <key>college</key>
        <string>경영대학</string>
        <key>name</key>
        <string>회계학과</string>
        <key>englishName</key>
        <string>ACC</string>
    </dict>
    <dict>
        <key>college</key>
        <string>경영대학</string>
        <key>name</key>
        <string>경영학과</string>
        <key>englishName</key>
        <string>MGT</string>
    </dict>
</array>
</plist>
