<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>college</key>
		<string>공과대학</string>
		<key>name</key>
		<string>컴퓨터공학전공</string>
		<key>englishName</key>
		<string>CSE</string>
	</dict>
</array>
</plist>
