<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>admissionYear</key>
		<integer>13</integer>
		<key>englishLecture</key>
		<integer>4</integer>
		<key>englishScore</key>
		<integer>700</integer>
		<key>serviceTime</key>
		<integer>0</integer>
		<key>serviceNeed</key>
		<false/>
		<key>allCredit</key>
		<integer>140</integer>
		<key>majorCredit</key>
		<integer>84</integer>
		<key>majorDetail</key>
		<string>전공 상세설명</string>
		<key>majorSpecialty</key>
		<integer>42</integer>
		<key>generalCommon</key>
		<integer>14</integer>
		<key>commonDetail</key>
		<string>공통교양 상세설명</string>
		<key>generelMain</key>
		<integer>0</integer>
		<key>mainDetail</key>
		<string>핵심교양 상세설명</string>
		<key>generelBasic</key>
		<integer>28</integer>
		<key>basicDetail</key>
		<string>학문기초 상세설명</string>
		<key>generalLiteracy</key>
		<integer>9</integer>
		<key>literacyDetail</key>
		<string>기본소양 상세설명</string>
		<key>graduationPaper</key>
		<string>종합설계1, 2 이수</string>
	</dict>
</array>
</plist>
